
<!-- INCLUDE NAVIGATION DETAIL FOR ALL PAGES -->

<body>
  <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#"
       style="
       font-size: 27px;
         font-weight: 600;
         color: rgb(47, 141, 70);" ><i class="fas fa-globe me-1"></i>EduNote Portal</a
      >
       <% if (!user) { %>
        <a href="/login" class="login-button"
          ><i class="fas fa-user me-1"></i><span>LogIn</span></a
        >
        <a href="/signup" class="signup-button"
          ><i class="fas fa-user-plus me-1"></i><span>Signup</span></a
        ><% } %>
        <% if (user && user.role !== 'Admin') { %>
          
       <a href="/profile" style="font-size: 2rem;color: green;margin-right: 2rem;" ><i class="fas fa-user me-1"></i></a>
       <a href="/logout" title="logout" style="font-size: 2rem;color: red;" ><i class="fas fa-sign-out"></i></a>
          
          <% }else if(user && user.role === 'Admin'){%>
            
            <a href="/logout" title="logout" style="font-size: 2rem;color: red;" ><i class="fas fa-sign-out"></i></a>
            
          <% } %>
        
    </div>
  </nav>
  <!--navbar ends-->
  
    <!-- Bootstrap JS (Minified) and dependencies -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>  