
<body class="d-flex flex-column">
  
  <section class="hero-section flex-fill">
  <header class="header"> 
    <div class="content-hero">
        <h1 class="heading">
            <span class="small">welcome to our</span>
          
            <span class="no-fill">ClassRoom</span>
        </h1>
        <% if (user) { %>
          <!-- If the user is logged in, show the "Notes" page link -->
          <a href="/index" class="login">Go to Class</a>
      <% } else { %>
          <!-- If the user is not logged in, show the "Login" button -->
          <a href="/login" class="login">Click to explore</a>
      <% } %>
    </div>
</header>
</section>



</body>



