

<body class="class-content1">
    <div class="form-container">
        <h1 class="text-center mb-4">Add New Class</h1>
        <form action="/add-class" method="POST">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Class Name" required>
            </div>
            <div class="btn-container">
                <button type="submit" class="submit-btn  btn-secondary mt-3 ml-2 "><i class="fa-solid fa-plus"></i> Add Class</button>
                <a href="/index" class="btn btn-secondary mt-3 ml-2 back">Back to Home</a>
            </div>
        </form>
    </div>
</body>